<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Maison-consulter</title>    
    </head>
    <body>
     		
		<h5>BIENVENUE DANS LA MAISON DES {{ pMaison.nom | upper}}</h5>
 <p>
  <table >
	<tr><td>id</td><td>Nom</td><td>Prénom</td><td>datenaissance</td><td>ville</td></tr>
	{% for e in pMaison.etudiants %}
	<tr>
			<td><a href="{{ path('etudiantConsulter', { 'id': e.id }) }}">{{ e.id }}</a></td>
			<td><a href="{{ path('etudiantConsulter', { 'id': e.id }) }}">{{ e.nom }}</a></td>
			<td><a href="{{ path('etudiantConsulter', { 'id': e.id }) }}">{{ e.prenom }}</a></td>
			<td>{{ e.dateNaiss|date('d/m/Y') }}</td>
			<td>{{ e.ville}}</td>
			</tr>
	   {% endfor %}
	  
 </table	 
    </body>
</html>