<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		
		LISTE DES ETUDIANTS</br>
		<table>
		{% for e in pEtudiants %}
		<tr>
			<td><a href="{{ path('etudiantConsulter', { 'id': e.id }) }}">{{ e.nom }}</a></td>
			<td>{{ e.prenom }}</a></td>
			<td>{{ e.dateNaissance|date('d/m/Y') }}</td>
			<td>{{ e.ville}}</td>
	{% else %}
		<tr>
		<td>Aucun etudiant n'a été trouvé.</td>
		</tr>
	{% endfor %}
</table>
	
	 
    </body>
</html>